# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
/out/

# Built application files and Maven
target/
/target/
*.mvn
*.temp

# macOS
.DS_Store

# Compiled class files
*.class

# Log Files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
